@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Product Sans'), url('https://fonts.cdnfonts.com/s/14955/ProductSans-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Product Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Product Sans'), url('https://fonts.cdnfonts.com/s/14955/ProductSans-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Product Sans Thin';
    font-style: normal;
    font-weight: 250;
    src: local('Product Sans Thin'), url('https://fonts.cdnfonts.com/s/14955/ProductSans-Thin.woff') format('woff');
}
@font-face {
    font-family: 'Product Sans Light';
    font-style: normal;
    font-weight: 300;
    src: local('Product Sans Light'), url('https://fonts.cdnfonts.com/s/14955/ProductSans-Light.woff') format('woff');
}
@font-face {
    font-family: 'Product Sans Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Product Sans Medium'), url('https://fonts.cdnfonts.com/s/14955/ProductSans-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Product Sans Black';
    font-style: normal;
    font-weight: 900;
    src: local('Product Sans Black'), url('https://fonts.cdnfonts.com/s/14955/ProductSans-Black.woff') format('woff');
}
@font-face {
    font-family: 'Product Sans Thin';
    font-style: italic;
    font-weight: 250;
    src: local('Product Sans Thin'), url('https://fonts.cdnfonts.com/s/14955/ProductSans-ThinItalic.woff') format('woff');
}
@font-face {
    font-family: 'Product Sans Light';
    font-style: italic;
    font-weight: 300;
    src: local('Product Sans Light'), url('https://fonts.cdnfonts.com/s/14955/ProductSans-LightItalic.woff') format('woff');
}
@font-face {
    font-family: 'Product Sans Medium';
    font-style: italic;
    font-weight: 500;
    src: local('Product Sans Medium'), url('https://fonts.cdnfonts.com/s/14955/ProductSans-MediumItalic.woff') format('woff');
}
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Product Sans'), url('https://fonts.cdnfonts.com/s/14955/ProductSans-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Product Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Product Sans'), url('https://fonts.cdnfonts.com/s/14955/ProductSans-BoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Product Sans Black';
    font-style: italic;
    font-weight: 900;
    src: local('Product Sans Black'), url('https://fonts.cdnfonts.com/s/14955/ProductSans-BlackItalic.woff') format('woff');
}


